@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* .fredoka-<uniquifier> {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

body {
  @apply bg-[#312c51];
  font-family: "Permanent Marker", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  @apply max-w-300 mx-auto px-6;
}
